body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo_barra {
    background-color: black;
    width: 100vw; /* Largura total da tela */
    height: 25vh;  /* Um quarto da altura da tela */
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    align-items: center;         /* Centraliza verticalmente */
    box-sizing: border-box;
    padding-left: 40px; /* Espaçamento da borda esquerda */
}

.titulo_barra a {
    text-decoration: none;
}

.titulo_barra h1 {
    color: white;
    font-size: 48px;
    margin: 0;
}


.facebook {
    display: flex; /* Ativa o Flexbox para o contêiner principal */
    align-items: center; /* Centraliza verticalmente os itens filhos (imagem e texto) */
    justify-content: flex-start; /* Alinha os itens ao início (canto esquerdo) do contêiner */
    border: 1px solid #ccc; /* Apenas para visualização */
    width: 100%;
    box-sizing: border-box;
}

.facebook img {
    width: 250px; /* Tamanho do ícone */
    height: 250px; /* Tamanho do ícone */
}


.email {
    display: flex; /* Ativa o Flexbox para o contêiner principal */
    align-items: center; /* Centraliza verticalmente os itens filhos (imagem e texto) */
    justify-content: flex-start; /* Alinha os itens ao início (canto esquerdo) do contêiner */
    border: 1px solid #ccc; /* Apenas para visualização */
    width: 100%;
    box-sizing: border-box;
}

.email img {
    width: 200px; /* Tamanho do ícone */
    height: 200px; /* Tamanho do ícone */
    padding: 25px;
}


.linkedin {
    display: flex; /* Ativa o Flexbox para o contêiner principal */
    align-items: center; /* Centraliza verticalmente os itens filhos (imagem e texto) */
    justify-content: flex-start; /* Alinha os itens ao início (canto esquerdo) do contêiner */
    border: 1px solid #ccc; /* Apenas para visualização */
    width: 100%;
    box-sizing: border-box;
}

.linkedin img {
    width: 250px; /* Tamanho do ícone */
    height: 250px; /* Tamanho do ícone */
}